In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("Spread of Data.csv")

In [7]:
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [9]:
max_data = data["Overall Marks"].max()

In [10]:
min_data = data["Overall Marks"].min()

In [12]:
range_of_data = max_data - min_data

In [13]:
print(range_of_data)

9700

In [17]:
#calculating the IQR require first and third quartile

Q1 = data["Overall Marks"].quantile(0.25)
Q3= data["Overall Marks"].quantile(0.75)

In [18]:
print("first quartile is", Q1)
print("third quartile is", Q3)

first quartile is 57.25
third quartile is 87.25

In [21]:
IQR = Q3 - Q1
print(IQR)

30.0