In [1]:
import pandas as pd

In [3]:
#loading the data 
data = pd.read_csv("Median.csv")

In [4]:
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [6]:
#Calculate the Median
Median_data = data['Overall Marks'].median()

print(Median_data)

77.0

In [8]:
#Calculate the quantiles. Remember the Quantiles are 1/4th of the Quartiles

Q1 = data["Overall Marks"].quantile(0.25)
Q2 = data["Overall Marks"].quantile(0.5)
Q3 = data["Overall Marks"].quantile(0.75)
Q4 = data["Overall Marks"].quantile(1)

In [10]:
print("First Quantile", Q1)
print("Second Quantile", Q2)
print("Third Quantile", Q3)
print("Fourth Quantile", Q4)

First Quantile 57.25
Second Quantile 77.0
Third Quantile 87.25
Fourth Quantile 9700.0